body,html {
	font-family: sans-serif;
	color: #ddd;
	background-color: #111;
}
h1 {
	color: #ddd;
	margin: 0px;
}
h5 {
	color: #ddd;
	margin: 0px;
	margin-top: 1em;
}
.wide {
    display: block;
	width: 100%;
}
input[type="button"]  {
	background-color: #444;
    box-sizing: border-box;
	color: #fff;
	border-top: solid 2px #555;
	border-bottom: solid 2px #333;
	border-right: solid 2px #353535;
	border-left: solid 2px #454545;
}
input[type="button"]:active  {
	background-color: #464;
    box-sizing: border-box;
	color: #fff;
	border-top: solid 2px #333;
	border-bottom: solid 2px #555;
	border-right: solid 2px #353535;
	border-left: solid 2px #454545;
}
input[type="text"] {
	background-color: #222;
    box-sizing: border-box;
	color: #fff;
	border: none;
}
textarea {
	background-color: #333;
    box-sizing: border-box;
	border: none;
	color: #fff;
	resize: vertical;
}
a,
a:link,
a:visited
{
	color: #bbf; text-decoration: none;
}
a.remove
{
	color: #522; text-decoration: none;
}
